persona_talk/
multi_session/
persona.zip
페르소나 대화/
한국어 멀티세션 대화/

*.pyc
*.tar
*.whl
/.idea/
/.vscode/
/.venv/
/__pycache__/
/build/
/dist/
/.ipynb_checkpoints/
/.pytest_cache/
/.mypy_cache/
/.coverage
/.cache/
/.hypothesis/
/.tox/
/.eggs/
/.eggs/
/.eggs/